<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="supermarket" class="com.thoughtworks.yafei.Supermarket">
        <property name="product" value="#{product}"/>
        <property name="amountOfProducts" value="#{product.amount}"/>
    </bean>

    <bean id="product" class="com.thoughtworks.yafei.Product">
        <property name="name" value="chocolate"/>
        <property name="amount" value="10"/>
    </bean>
    </beans>